/*#region STYLING OF TEXT & FONTS ------------------------------------------*/

@font-face {
  font-family: "Rekalgera";
  src: url(fonts/Rekalgera-Regular.otf);
}

/*@font-face er et CSS tag vi kan bruge for at skabe vores egne fonte, 
som vi kan kalde frem i CSS koden.

Ved at have vores font-fil ligge lokalt ved vi at den "altid virker",
i stedet for at bruge en font man kun kan håbe ligger på alle folks pc'er.*/

h1 {
  font-family: "rekalgera", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 7rem;
}

h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4rem;
}

h3, a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.5rem;
}

a {
  font-size: 1.2rem;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
}

::placeholder{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  color: #093838;
}

input, textarea {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: #093838;
}

/* #endregion */

/*#region UNIVERSAL --------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #endregion */

/*#region HEADER -----------------------------------------------------------*/

header {
  width: 100%;
}

.top-nav {
  background-color: #C3B7A1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
  
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  list-style-type: none;
  margin-right: 20px;
}
  
.nav-links__list-item,
.nav-links__list-item--contact,
.nav-links__list-item--active,
.nav-links__list-item--contact--active {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links__list-item a,
.nav-links__list-item--contact a,
.nav-links__list-item--active a,
.nav-links__list-item--contact--active a {
  color: #093838;
  text-decoration: none;
  padding: 15px 20px;
}
  
.nav-links__list-item--contact a {
  color: #E8E4DE;
  background-color: darkslategray; 
}
  
.nav-links__list-item a:hover,
.nav-links__list-item--contact a:hover {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  background-color: #A59476;
}
  
.nav-links__list-item--contact a:hover {
  color:#093838;
  background-color: #3E8C94;
}

.nav-links__list-item--active a {
  background-color: #A59476;
  color: #E8E4DE;
}

.nav-links__list-item--contact--active a {
  background-color: #3E8C94;
  color: #093838;
}

/* #endregion */

/*#region INTRO-CARD -------------------------------------------------------*/

.intro-card {
  display: flex;
  justify-content: space-between;
  padding: 6%;
  background-color: #DED7CA;
}

.intro-card__profile-picture {
  background-color: aqua;
  width: 650px;
  height: 650px;
  margin-right: 100px;
}

.intro-card__text-field {
  width: 900px;
}
  
.intro-card__text-field__sub-heading {
  color: #3E8C94;
  line-height: 50px;
}
  
.intro-card__text-field__main-heading {
  color: #246B6D;
  line-height: 150px;
}
  
.intro-card__text-field__third-heading {
  color: #3E8C94;
  margin-bottom:40px;
}

.intro-card__text-field__main-text {
  color: #093838;
  margin-bottom: 60px;
}

.intro-card__text-field__button {
  padding: 17px 22px;
  font-size: 16px;
  color: #E8E4DE;
  background-color: #DC9108;
  text-decoration: none;
}

.intro-card__text-field__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

/* #endregion */

/*#region PORTFOLIO-CARD ---------------------------------------------------*/

.portfolio-card {
  background-color: #093838;
  padding: 5% 6%;
}

.portfolio-card__title {
  margin-top: -4%;
  margin-bottom: 2%;
  color: #C3B7A1;
}

.portfolio-card__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
    
.portfolio-card__content__box {
  background-color: #DED7CA;
  width: 32%;
  padding: 20px;
  border-radius: 8px;
}

.portfolio-card__content__box__image {
  background-color: purple;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.portfolio-card__content__box__subtitle {
  color: #093838;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.portfolio-card__content__box__subtitle:hover {
  color: #3E8C94;
  text-decoration: underline;
}

.portfolio-card__content__box__text {
  margin-top: 15px;
  margin-bottom: 40px;
  color: #093838;
  font-size: 16px;
}

.portfolio-card__content__box__continue {
  color: #DC9108;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
      
.portfolio-card__content__box__continue:hover {
  color: #E8E4DE;
  padding: 5px 10px;
  background-color: #DC9108;
}

/* #endregion */

/*#region EXPERIENCE -------------------------------------------------------*/

.experience-card {
  background-color: #C3B7A1;
  padding: 5% 6%;
  display: flex;
  justify-content: space-between;
}

.experience-card__text-field {
  width: 850px;
}

.experience-card__text-field__subtitle {
  color: #246B6D;
}

.experience-card__text-field__title {
  color: #093838;
  margin-top: -30px;
  margin-bottom: -15px;
}

.experience-card__text-field__main-text {
  color: #093838;
  margin-bottom: 70px;
}

.experience-card__text-field__button {
  padding: 17px 22px;
  font-size: 16px;
  color: #E8E4DE;
  background-color: #DC9108;
  text-decoration: none;
}

.experience-card__text-field__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.experience-card__profile-picture {
  background-color: aqua;
  width: 650px;
  height: 650px;
  margin-left: 100px;
}

/* #endregion */

/*#region CONTACT-ME-INDEX -------------------------------------------------*/

.contact-card{
  display: flex;
}

.contact-card__contact-form {
  padding: 6%;
  background-color: #093838;
} 

.contact-card__contact-form__title {
  font-size: 90px;
  font-size: 5rem;
  margin-top: -15%;
  margin-bottom: 2%;
  color: #C3B7A1;
}
    
.contact-card__contact-form__formular {
  display: flex;
  flex-direction: column;
}
      
.contact-card__contact-form__formular__input {
  margin-bottom: 2rem;
  border: none;
  width: 35rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-card__contact-form__formular__textarea {
  color: #093838;
  border: none;
  height: 10rem;
  width: 35rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-card__contact-form__formular__button {
  color: #093838;
  border: none;
  background-color: #DC9108;
  width: 25%;
  padding: 15px;
  margin-top: 40px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #E8E4DE;
}

.contact-card__contact-form__formular__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.contact-card__contact-media {
  background-color: #DED7CA;
  padding: 6%;
}

.contact-card__contact-media__subtitle {
  color: #3E8C94;
}

.contact-card__contact-media__title {
  color: #246B6D;
  line-height: 150px;
}

.contact-card__contact-media__text {
  color: #093838;
  margin-bottom: 4.5rem;
  margin-top: 1rem;
}

.contact-card__contact-media__button {
  padding: 17px 22px;
  font-size: 16px;
  color: #E8E4DE;
  background-color: #DC9108;
  text-decoration: none;
}

.contact-card__contact-media__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.contact-card__contact-media__bottom-text {
  margin-top: 5rem;
  color: #246B6D;
  margin-bottom: 0.5rem;
}

.contact-card__contact-media__some {
  display: flex;
}

.contact-card__contact-media__some__buttons {
  display: flex;
  color: #3E8C94;
  justify-content: center;
  text-decoration: none;
  font-size: 3rem;
  padding: 2%;
  margin-right: 2%;
  width: 5rem;
  background-color: #093838;
  border-radius: 0.5rem;
}

.contact-card__contact-media__some__buttons:hover {
  color: #093838;
  background-color: #246B6D;
}

/* #endregion */

/*#region FOOTER -----------------------------------------------------------*/

.bottom-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #C3B7A1;
}

.bottom-footer__text {
  color: #093838;
}

/* #endregion */

/*#region ABOUT-ME ---------------------------------------------------------*/

.about-me-card {
  background-color: #DED7CA;
  display: flex;
  justify-content: space-between;
  padding: 6%;
}
.about-me-card__text-field {
  width: 50rem;
  margin-right: 2rem;
}

.about-me-card__text-field__subtitle {
  margin-bottom: -2rem;
  color: #3E8C94;
}

.about-me-card__text-field__title {
  color: #246B6D;
}

.about-me-card__text-field__main-text {
  color: #093838;
}

.about-me-card__profile__image {
  background-color: aqua;
  width: 50rem;
  height: 50rem;
}

/* #endregion */

/*#region CONTACT-ME-SITE --------------------------------------------------*/

.contact-me-card {
  background-color: #DED7CA;
  display: flex;
  justify-content: space-between;
}

.contact-me-card__text-field {
  width: 100rem;
  padding: 6%;
}

.contact-me-card__text-field__subtitle {
  margin-bottom: -2rem;
  color: #3E8C94;
}

.contact-me-card__text-field__title {
  color: #246B6D;
}

.contact-me-card__text-field__main-text {
  color: #093838;
  margin-bottom: 3rem;
}

.contact-me-card__text-field__highlighted-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3rem;
  color:#246B6D;
  margin-bottom: 3rem;
}

.contact-me-card_right-box {
  background-color: #093838;
  padding: 6%;
}

.contact-me-card__contact-form {
  padding: 6%;
  background-color: #093838;
} 

.contact-me-card__contact-form__title {
  font-size: 90px;
  font-size: 5rem;
  margin-top: -15%;
  margin-bottom: 2%;
  color: #C3B7A1;
}
    
.contact-me-card__contact-form__formular {
  display: flex;
  flex-direction: column;
  align-items: center;
}
      
.contact-me-card__contact-form__formular__input {
  margin-bottom: 2rem;
  border: none;
  width: 35rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-me-card__contact-form__formular__textarea {
  color: #093838;
  border: none;
  height: 10rem;
  width: 35rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-me-card__contact-form__formular__button {
  color: #093838;
  border: none;
  background-color: #DC9108;
  width: 25%;
  padding: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #E8E4DE;
}

.contact-me-card__contact-form__formular__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.contact-med-card__contact-media__some {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-med-card__contact-media__some__text {
  color: #246B6D;
  margin-bottom: 0.5rem;
}

.contact-med-card__contact-media__some__buttons {
  display: flex;
}

.contact-med-card__contact-media__some__buttons__links {
  display: flex;
  color: #3E8C94;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 3rem;
  padding: 2%;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: #093838;
  border-radius: 0.5rem;
}

.contact-med-card__contact-media__some__buttons__links:hover {
  color: #093838;
  background-color: #246B6D;
}

/* #endregion */

/* #region MEDIE QUERYS ----------------------------------------------------*/   

/* Tablet layout */
@media (max-width: 1024px) {
}

/* Mobil layout */
@media (max-width: 768px) { 
  
}

/* Klemt i bund */
@media (max-width: 480px) {
  
}

/* #endregion */