/*#region STYLING OF TEXT & FONTS ------------------------------------------*/

@font-face {
  font-family: "Rekalgera";
  src: url(fonts/Rekalgera-Regular.otf);
}

/*@font-face er et CSS tag vi kan bruge for at skabe vores egne fonte, 
som vi kan kalde frem i CSS koden.

Ved at have vores font-fil ligge lokalt ved vi at den "altid virker",
i stedet for at bruge en font man kun kan håbe ligger på alle folks pc'er.*/

h1 {
  font-family: "rekalgera", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 7rem;
}

h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4rem;
}

h3, a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.5rem;
}

a {
  font-size: 1.2rem;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
}

::placeholder{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  color: #093838;
}

input, textarea {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: #093838;
}

/* #endregion */

/*#region UNIVERSAL --------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* #endregion */

/*#region HEADER -----------------------------------------------------------*/

header {
  width: 100%;
}

.top-nav {
  background-color: #C3B7A1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.top-nav__logo {
  margin-top: 0.5rem;
}

.top-nav__logo img {
  width: 150px;
  margin-left: 1rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 2000px;
}
  
.nav-links__list-item,
.nav-links__list-item--contact,
.nav-links__list-item--active,
.nav-links__list-item--contact--active {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links__list-item a,
.nav-links__list-item--contact a,
.nav-links__list-item--active a,
.nav-links__list-item--contact--active a {
  color: #093838;
  text-decoration: none;
  padding: 15px 20px;
  margin-left: 2rem;
}
  
.nav-links__list-item--contact a {
  color: #E8E4DE;
  background-color: darkslategray; 
}
  
.nav-links__list-item a:hover,
.nav-links__list-item--contact a:hover {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  background-color: #A59476;
}
  
.nav-links__list-item--contact a:hover {
  color:#093838;
  background-color: #3E8C94;
}

.nav-links__list-item--active a {
  background-color: #A59476;
  color: #E8E4DE;
}

.nav-links__list-item--contact--active a {
  background-color: #3E8C94;
  color: #093838;
}

/* #endregion */

/*#region INTRO-CARD -------------------------------------------------------*/

.intro-card {
  display: flex;
  justify-content: center;
  padding: 6%;
  background-color: #DED7CA;
}

.intro-card__profile-picture {
  width: 40rem;
  height: 40rem;
  margin-right: 2rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-image: url(img/index-pic_optimized.webp);
}

.intro-card__text-field {
  width: 60rem;
}
  
.intro-card__text-field__sub-heading {
  color: #3E8C94;
  line-height: 50px;
}
  
.intro-card__text-field__main-heading {
  color: #246B6D;
  line-height: 150px;
}
  
.intro-card__text-field__third-heading {
  color: #3E8C94;
  margin-bottom:40px;
}

.intro-card__text-field__main-text {
  color: #093838;
  margin-bottom: 60px;
}

.intro-card__text-field__button {
  padding: 17px 22px;
  font-size: 16px;
  color: #E8E4DE;
  background-color: #DC9108;
  text-decoration: none;
}

.intro-card__text-field__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

/* #endregion */

/*#region PORTFOLIO-CARD ---------------------------------------------------*/

.portfolio-card {
  background-color: #093838;
  padding: 5% 6%;
}

.portfolio-card__title {
  margin-top: -4%;
  margin-bottom: 2%;
  color: #C3B7A1;
}

.portfolio-card__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
    
.portfolio-card__content__box {
  background-color: #DED7CA;
  width: 32%;
  padding: 20px;
  border-radius: 8px;
}

.portfolio-card__content__box__image {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-card__content__box__subtitle {
  color: #093838;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.portfolio-card__content__box__subtitle:hover {
  color: #3E8C94;
  text-decoration: underline;
}

.portfolio-card__content__box__text {
  margin-top: 15px;
  margin-bottom: 40px;
  color: #093838;
  font-size: 16px;
  height: 5rem;
}

.portfolio-card__content__box__continue {
  color: #DC9108;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
      
.portfolio-card__content__box__continue:hover {
  color: #E8E4DE;
  padding: 5px 10px;
  background-color: #DC9108;
}

/* #endregion */

/*#region EXPERIENCE -------------------------------------------------------*/

.experience-card {
  background-color: #C3B7A1;
  padding: 5% 6%;
  display: flex;
  justify-content: space-between;
}

.experience-card__text-field {
  width: 850px;
}

.experience-card__text-field__subtitle {
  color: #246B6D;
}

.experience-card__text-field__title {
  color: #093838;
  margin-top: -30px;
  margin-bottom: -15px;
}

.experience-card__text-field__main-text {
  color: #093838;
  margin-bottom: 70px;
}

.experience-card__text-field__button {
  padding: 17px 22px;
  font-size: 16px;
  color: #E8E4DE;
  background-color: #DC9108;
  text-decoration: none;
}

.experience-card__text-field__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.experience-card__profile-picture {
  width: 45rem;
  height: 45rem;
  margin-left: 100px;

  background-image: url(img/experience-pic_optimized.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
}

/* #endregion */

/*#region CONTACT-ME-INDEX -------------------------------------------------*/

.contact-card{
  display: flex;
}

.contact-card__contact-form {
  padding: 6%;
  background-color: #093838;
} 

.contact-card__contact-form__title {
  font-size: 90px;
  font-size: 5rem;
  margin-top: -15%;
  margin-bottom: 2%;
  color: #C3B7A1;
}
    
.contact-card__contact-form__formular {
  display: flex;
  flex-direction: column;
}
      
.contact-card__contact-form__formular__input {
  margin-bottom: 2rem;
  border: none;
  width: 35rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-card__contact-form__formular__textarea {
  color: #093838;
  border: none;
  height: 10rem;
  width: 35rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-card__contact-form__formular__button {
  color: #093838;
  border: none;
  background-color: #DC9108;
  width: 25%;
  padding: 15px;
  margin-top: 40px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #E8E4DE;
}

.contact-card__contact-form__formular__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.contact-card__contact-media {
  background-color: #DED7CA;
  padding: 6%;
}

.contact-card__contact-media__subtitle {
  color: #3E8C94;
}

.contact-card__contact-media__title {
  color: #246B6D;
  line-height: 150px;
}

.contact-card__contact-media__text {
  color: #093838;
  margin-bottom: 4.5rem;
  margin-top: 1rem;
}

.contact-card__contact-media__button {
  padding: 17px 22px;
  font-size: 16px;
  color: #E8E4DE;
  background-color: #DC9108;
  text-decoration: none;
}

.contact-card__contact-media__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.contact-card__contact-media__bottom-text {
  margin-top: 5rem;
  color: #246B6D;
  margin-bottom: 0.5rem;
}

.contact-card__contact-media__some {
  display: flex;
}

.contact-card__contact-media__some__buttons {
  display: flex;
  color: #3E8C94;
  justify-content: center;
  text-decoration: none;
  font-size: 3rem;
  padding: 2%;
  margin-right: 2%;
  width: 5rem;
  background-color: #093838;
  border-radius: 0.5rem;
}

.contact-card__contact-media__some__buttons:hover {
  color: #093838;
  background-color: #246B6D;
}

/* #endregion */

/*#region FOOTER -----------------------------------------------------------*/

.bottom-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #C3B7A1;
}

.bottom-footer__text {
  color: #093838;
}

/* #endregion */

/*#region ABOUT-ME ---------------------------------------------------------*/

.about-me-card {
  background-color: #DED7CA;
  display: flex;
  justify-content: space-between;
  padding: 6%;
}
.about-me-card__text-field {
  width: 50rem;
  margin-right: 2rem;
}

.about-me-card__text-field__subtitle {
  margin-bottom: -2rem;
  color: #3E8C94;
}

.about-me-card__text-field__title {
  color: #246B6D;
}

.about-me-card__text-field__main-text {
  color: #093838;
}

.about-me-card__profile__image {
  margin-top: 9%;
  background-image: url(img/about-me-pic_optimized.webp);
  background-position: center;
  background-repeat: no-repeat;

  background-size: 53rem;
  width: 50rem;
  height: 50rem;
}

/* #endregion */

/*#region CONTACT-ME-SITE --------------------------------------------------*/

.contact-me-card {
  background-color: #DED7CA;
  display: flex;
  justify-content: space-between;
}

.contact-me-card__text-field {
  width: 100rem;
  padding: 6%;
}

.contact-me-card__text-field__subtitle {
  margin-bottom: -2rem;
  color: #3E8C94;
}

.contact-me-card__text-field__title {
  color: #246B6D;
}

.contact-me-card__text-field__main-text {
  color: #093838;
  margin-bottom: 3rem;
}

.contact-me-card__text-field__highlighted-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3rem;
  color:#246B6D;
  margin-bottom: 3rem;
}

.contact-me-card_right-box {
  background-color: #093838;
  padding: 6%;
}

.contact-me-card__contact-form {
  padding: 6%;
  background-color: #093838;
} 

.contact-me-card__contact-form__title {
  font-size: 5rem;
  margin-top: -15%;
  margin-bottom: 2%;
  color: #C3B7A1;
}
    
.contact-me-card__contact-form__formular {
  display: flex;
  flex-direction: column;
  align-items: center;
}
      
.contact-me-card__contact-form__formular__input {
  margin-bottom: 2rem;
  border: none;
  width: 35rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-me-card__contact-form__formular__textarea {
  color: #093838;
  border: none;
  height: 10rem;
  width: 35rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-me-card__contact-form__formular__button {
  color: #093838;
  border: none;
  background-color: #DC9108;
  width: 25%;
  padding: 15px;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #E8E4DE;
}

.contact-me-card__contact-form__formular__button:hover {
  background-color: #E8E4DE;
  color: #DC9108;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.contact-med-card__contact-media__some {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-med-card__contact-media__some__text {
  color: #246B6D;
  margin-bottom: 1rem;
  
}

.contact-med-card__contact-media__some__buttons {
  display: flex;
}

.contact-med-card__contact-media__some__buttons__links {
  display: flex;
  color: #3E8C94;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 3rem;
  padding: 2%;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: #093838;
  border-radius: 0.5rem;
}

.contact-med-card__contact-media__some__buttons__links:hover {
  color: #093838;
  background-color: #246B6D;
}

/* #endregion */

/*#region EXPERIENCE-SITE --------------------------------------------------*/

.my-experience-card {
  display: flex;
  flex-wrap: wrap;
}

.my-experience-card__info-panel {
background-color: #DED7CA;
padding: 6%;
width: 50%;
}

.my-experience-card__info-panel__subtitle {
  color: #246B6D;
}

.my-experience-card__info-panel__title {
  color: #093838;
  line-height: 8rem;
  margin-bottom: 2rem;
}

.my-experience-card__info-panel__third-title {
  color: #093838;
}

.my-experience-card__info-panel__education-text,
.my-experience-card__info-panel__job-text {
  line-height: 2rem;
  color: #093838
  font-weight: 300;
}

.my-experience-card__info-panel__education-text{
  margin-bottom: 2rem;
}

.my-experience-card__info-panel span {
  color: #093838;
  font-weight: 600;
}

.my-experience-card__pictures {
  background-color: #093838;
  padding: 6%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.my-experience-card__pictures__top {
  width: 100%;
  height: 50rem;
  margin-bottom: 2rem;
  background-image: url(img/exp-sign-pic_optimized.webp);
  background-position: center;
  background-size: 55rem;
}

.my-experience-card__pictures__bottom {
  width: 100%;
  height: 50rem;
  background-image: url(img/exp-tools-pic_optimized.webp);
  background-position: center;
  background-size: 55rem;
}

/* #endregion */

/*#region PORTFOLIO-SITE ---------------------------------------------------*/

.adobe-ps, .adobe-ae, .adobe-ai, .adobe-id, .css-animationer, .figma {
  width: 100%;
  padding: 6%;
}

.adobe-ai__content, .adobe-ae__content, .adobe-id__content, .adobe-ps__content,
.css-animationer__content, .figma__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.adobe-ae__title, .adobe-ai__title, .adobe-id__title, .adobe-ps__title,
 .figma__title, .css-animationer__title {
  margin-top: -5rem;
  color: #093838;
}

.img-placeholder {
  width: 700px;
  height: 700px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-placeholder--css-animation {
  width: 400px;
  height: 400px;
  background: url('img/missetat_figur-optimized.webp') 0 0 no-repeat;
  animation: play 3s steps(21) infinite;
}

@keyframes play {
  0%{background-position:0px;}
 100% { background-position: -8400px; }
}

.adobe-ae__img-placeholder__video {
  width: 1000px;
}

.adobe-ai, .adobe-ae, .figma{
  background-color: #DED7CA;
}

.adobe-ps, .adobe-id, .css-animationer {
  background-color: #093838;
  color: #DED7CA;
}

.adobe-ps h1, .adobe-id h1, .css-animationer h1 {
  color: #C3B7A1;
}


.adobe-ae__text, .adobe-ai__text, .adobe-ps__text, .adobe-id__text,
.css-animationer__text, .figma__text {
  margin-bottom: 4rem;
  font-size: 20px;
}

/* #endregion */

/*#region MEDIE QUERYS -----------------------------------------------------*/   

/* Desktops, large screens */
@media (max-width: 1710px) {

/* HEADER */

.top-nav__logo img {
  width: 150px;
}

.nav-links__list-item a,
.nav-links__list-item--contact a,
.nav-links__list-item--active a,
.nav-links__list-item--contact--active a {
  font-size: 17px;
  padding: 15px 20px;
}

/* INTROCARD */

.intro-card__profile-picture {
  width: 500px;
  height: 40rem;
  margin-right: 2rem;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-image: url(img/index-pic_optimized.webp);
}

.intro-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 6%;
  background-color: #DED7CA;
}

.intro-card__text-field {
  width: 50%;
}
    
.intro-card__text-field__sub-heading {
  color: #3E8C94;
  line-height: 50px;
  font-size: 4rem;
  margin-bottom: 1rem;
}
    
.intro-card__text-field__main-heading {
  color: #246B6D;
  line-height: 120px;
  font-size: 8rem;
  margin-bottom: 1rem;
}
  
/* PORTFOLIO CARD */

.portfolio-card__title {
  margin-top: -4%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #C3B7A1;
}

.portfolio-card__content__box {
  background-color: #DED7CA;
  width: 48%;
  padding: 20px;
  border-radius: 8px;
}

/* Kontakt*/

.contact-card{
  display: flex;
  flex-wrap: wrap-reverse;
}

.contact-card__contact-media {
  background-color: #DED7CA;
  padding: 6%;
  width: 100%;
}

.contact-card__contact-form {
  padding: 6%;
  background-color: #093838;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-card__contact-form__title {
  font-size: 5rem;
  margin-bottom: 2%;
  color: #C3B7A1;
  margin-top: -50px;
}

.contact-card__contact-media__some__buttons {
  display: flex;
  color: #3E8C94;
  justify-content: center;
  text-decoration: none;
  font-size: 3rem;
  padding: 2%;
  margin-right: 2%;
  width: 6rem;
  background-color: #093838;
  border-radius: 0.5rem;
}

.contact-card__contact-form__formular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.bottom-footer__text {
  font-size: 1rem;
}

/* ABOUT ME SITE */

.about-me-card {
  background-color: #DED7CA;
  display: flex;
  justify-content: space-between;
  padding: 6%;
}
  
.about-me-card__text-field {
  width: 30rem;
  margin-right: 2rem;
}

.about-me-card__text-field__subtitle {
  margin-bottom: -2rem;
  color: #3E8C94;
}

.about-me-card__text-field__title {
  color: #246B6D;
  font-size: 5rem;
}

.about-me-card__text-field__main-text {
  color: #093838;
  font-size: 1.4rem;
}

.about-me-card__profile__image {
  margin-top: 9%;
  background-image: url(img/about-me-pic_optimized.webp);
  background-position: center;
  background-size: 35rem;
  background-repeat: no-repeat;
  width: 30rem;
  height: 30rem;
}

/* PORTFOLIO SITE */

.img-placeholder {
  width: 500px;
  height: 500px;
    
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.my-experience-card__pictures {
  background-color: #093838;
  padding: 6%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
.my-experience-card__pictures__top {
  width: 100%;
  height: 50rem;
  margin-bottom: 2rem;
  background-image: url(img/exp-sign-pic_optimized.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35rem;
}
  
.my-experience-card__pictures__bottom {
  width: 100%;
  height: 50rem;
  background-image: url(img/exp-tools-pic_optimized.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35rem;
}

/* CONTACT SITE */

.contact-me-card {
  display: flex;
  flex-wrap: wrap;
}

.my-experience-card__info-panel {
  padding: 6%;
}

.contact-me-card__contact-form {
  padding: 6%;
  background-color: #093838;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-me-card__contact-form__title {
  font-size: 5rem;
  margin-top: -50px;
  margin-bottom: 2%;
  color: #C3B7A1;
}
}

/* Small screens, laptops */
@media (max-width: 1226px) { 
  
/* HEADER */

.nav-links__list-item a,
.nav-links__list-item--contact a,
.nav-links__list-item--active a,
.nav-links__list-item--contact--active a {
  font-size: 14px;
  padding: 15px 20px;
  margin-left: 1rem;
}

/* INTRO CARD */

.intro-card {
  display: flex;
  justify-content: center;
  padding: 6%;
  background-color: #DED7CA;
}
  
.intro-card__profile-picture {
  width: 40rem;
  height: 40rem;
  margin-left: 2rem;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-image: url(img/index-pic_optimized.webp);
}
  
.intro-card__text-field {
  width: 40rem;
  text-align: center;
}
    
.intro-card__text-field__sub-heading {
  color: #3E8C94;
  line-height: 50px;
}
    
.intro-card__text-field__main-heading {
  color: #246B6D;
  line-height: 120px;
  margin-bottom: 2rem;
}
    
.intro-card__text-field__third-heading {
  color: #3E8C94;
  margin-bottom:40px;
  font-size: 17px;
  font-weight: 400;
}
  
.intro-card__text-field__main-text {
  color: #093838;
  margin-bottom: 60px;
}

/* PORTFOLIO CARD */

.portfolio-card__title {
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: 8rem;
}

.portfolio-card__content__box {
  background-color: #DED7CA;
  width: 70%;
  padding: 20px;
  border-radius: 8px;
}

/* EXPERIENCE CARD */

.experience-card {
  display: flex;
  flex-wrap: wrap;
}

.experience-card__text-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.experience-card__profile-picture {
  margin-left: 1rem;
}

/* CONTACT CARD */

.contact-card__contact-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-card__contact-media__title {
  line-height: 7rem;
  margin-bottom: 1rem;
}

.contact-card__contact-media__subtitle {
  margin-bottom: 1rem;
}

.contact-card__contact-media__text {
  margin-bottom: 3rem;
}

.contact-card__contact-media__button {
  margin-bottom: 1rem;
}

/* ABOUT ME SITE*/ 

.about-me-card {
  background-color: #DED7CA;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6%;
}

.about-me-card__text-field {
  width: 80%;
  margin-right: 2rem;
  text-align: center;
  margin-bottom: -1rem;
}
  
.about-me-card__text-field__subtitle {
  margin-bottom: -2rem;
  color: #3E8C94;
}
  
.about-me-card__text-field__title {
  color: #246B6D;
}
  
.about-me-card__text-field__main-text {
  color: #093838;
}

.contact-card__contact-media__bottom-text {
  margin-top: 1.8rem;
}

.contact-card__contact-media__some__buttons {
  height: 80px;
  padding: 1rem;
}

.bottom-footer__text {
  font-size: 14px;
  width: 45%;
  flex-wrap: wrap;
}

/* PORTFOLIO SITE */
  
.portfolio-wrapper {
  text-align: center;
}

.adobe-ae__title, .adobe-ai__title, .adobe-id__title, .adobe-ps__title,
.figma__title, .css-animationer__title {
  margin-top: 1rem;
  line-height: 7rem;
  margin-bottom: 3rem;
}
  
.adobe-ae__text, .adobe-ai__text, .adobe-ps__text, .adobe-id__text,
.css-animationer__text, .figma__text {
  margin-bottom: 4rem;
  font-size: 22px;
}

.adobe-ae__img-placeholder__video {
  width: 40rem;
}

.img-placeholder {
  width: 300px;
  height: 300px;
    
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* EXPERIENCE SITE */

.my-experience-card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.my-experience-card__info-panel {
  width: 100%;
}

.my-experience-card__pictures {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 3%;
}

.my-experience-card__pictures__bottom {
  background-size: 120%;
  width: 45%;
  height: 20rem;
}

.my-experience-card__pictures__top {   
  background-size: 120%;
  width: 45%;
  height: 20rem;
  margin-right: 20px;
}

/* CONTACT ME SITE */

.contact-me-card {
  text-align: center;
}
  
.contact-me-card__text-field {
  width: 100rem;
  padding: 6%;
}
  
.contact-me-card__text-field__subtitle {
  margin-bottom: -2rem;
  color: #3E8C94;
}
  
.contact-me-card__text-field__title {
  color: #246B6D;
  line-height: 8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
}

/* Mobile, iPad and Tablets Layout */
@media  (max-width: 800px) {

/* HEADER */

.top-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-nav__logo img {
  width: 350px;
  margin-bottom: 1rem;
}

.nav-links{
  display: flex;
  justify-content: center;
}
  
.nav-links__list-item:hover {
  background-color: #A59476;
}

.nav-links__list-item a,
.nav-links__list-item--contact a,
.nav-links__list-item--active a,
.nav-links__list-item--contact--active a {
  font-size: 17px;
  padding: 15px 20px;
  margin-left: 0rem;
}

/* INTRO CARD */

.intro-card__profile-picture {
  margin-right: 1rem;
  height: 50rem;
  margin-top: -2rem;
  margin-bottom: -2rem;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  background-image: url(img/index-pic_optimized.webp);
}

.intro-card__text-field__main-heading {
  font-size: 6rem;
  line-height: 7rem;
}

.intro-card__text-field__third-heading {
  font-size: 20px;
}

.intro-card__text-field__main-text {
  margin-bottom: 3rem;
}

.contact-card__contact-form__title {
  font-size: 3.5rem;
  margin-top: -1rem;
}

.contact-card__contact-form__formular__input {
  margin-bottom: 2rem;
  border: none;
  width: 25rem;
  padding: 15px;
  background-color: #DED7CA;
}
  
.contact-card__contact-form__formular__textarea {
  color: #093838;
  border: none;
  height: 10rem;
  width: 25rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-card__contact-form__formular__button {
  width: 35%;
}

/* ABOUT ME SITE */

.about-me-card__text-field__subtitle {
  font-size: 3rem;
}

.about-me-card__text-field__title {
  font-size: 4rem;
}

/* PORTFOLIO */
.adobe-ae__title, .adobe-ai__title, .adobe-id__title, .adobe-ps__title,
.figma__title, .css-animationer__title {
  font-size: 5rem;
  line-height: 5rem;
}

.adobe-ae__img-placeholder__video {
  width: 100%
}

.img-placeholder {
  width: 500px;
  height: 500px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* CONTACT ME SITE */

.contact-me-card__contact-form__title {
  font-size: 3.5rem;
  margin-top: -1rem;
}

.contact-me-card__contact-form__formular__input {
  margin-bottom: 2rem;
  border: none;
  width: 25rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-me-card__contact-form__formular__textarea {
  color: #093838;
  border: none;
  height: 10rem;
  width: 25rem;
  padding: 15px;
  background-color: #DED7CA;
}

.contact-me-card__contact-form__formular__button {
  width: 35%;
}

/* EXPERIENCE SITE */

.my-experience-card__info-panel__title {
  font-size: 6.5rem;
}

.my-experience-card__info-panel__subtitle {
  margin-top: 1rem;
}

}

@media  (max-width: 550px) {

/* INTRO CARD */

.intro-card__profile-picture {
  margin-top: -150px;
  margin-bottom: -150px;
}

/* PORTFOLIO CARD */
.portfolio-card__title {
  font-size: 5rem;
  line-height: 6rem;
}

.portfolio-card__content__box {
  width: 95%;
}

/* EXPERIENCE CARD */
.experience-card__text-field__title {
  font-size: 5rem;
}

.experience-card__profile-picture {
  margin-top: -5rem;
  margin-bottom: -5rem;
}

.my-experience-card__info-panel__job-text, .my-experience-card__info-panel__education-text {
  font-size: 16px;
  line-height: 30px;
}
}

/* #endregion */

/* Validated d. 15/12/2024 - Sofie */